image: Visual Studio 2019
version: build '{build}'
configuration: Release
platform: Any CPU
before_build:
- cmd: nuget restore src\ElectronicInvoice.sln

environment:
  my_variable:
    secure: GWztiV993airUIgYQa/8Yp0jZuZ9IWVjAJDxwBRTOvN2C5pBqlArgsUY4uqrGujp
  
build:
  publish_nuget: true
  
build_script:
  - dotnet build src\ElectronicInvoice.sln
  - dotnet test  src\ElectronicInvoiceTests
after_build:
  - dotnet pack src\ElectronicInvoice.Produce

deploy:
  - provider: NuGet
    api_key:
      secure: GWztiV993airUIgYQa/8Yp0jZuZ9IWVjAJDxwBRTOvN2C5pBqlArgsUY4uqrGujp
    on:
        branch: master
    artifact: /.*(\.|\.s)nupkg/

nuget:
  project_feed: true
        
artifacts:
  - path: '**\*.nupkg'
  - path: '**\*.snupkg'


