<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--查詢api的url  api名稱為key,請求網址為value-->
    <add key="QryWinningListApi" value="https://wwwtest.einvoice.nat.gov.tw/PB2CAPIVAN/invapp/InvApp"/>
    <add key="QryCarrierAggApi" value="https://www.einvoice.nat.gov.tw/PB2CAPIVAN/Carrier/Aggregate"/>
    <add key="DonateQueryApi" value="https://wwwtest.einvoice.nat.gov.tw/PB2CAPIVAN/loveCodeapp/qryLoveCode"/>
    

    <!--是否開啟API模擬-->
    <add key="IsMockAPI" value="0"/>
    <!--設置你們Key和IV-->

    <add key="GovAppId" value="EINV1201312046310" />
    <add key="GovAPIKey" value="VHp6MnYxVzMzaWZYSzR3Ng=="/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
